{% extends "base.html" %}

{% block rowOneContent %}
    <h1 class="whitecss">Welcome to TippyTechnologies!</h1>
{% endblock %}

{% block rowTwoColOneContent %}
    <h2 class="whitecss">About Us</h2>
    <p class="greencss">TippyTechnologies is a dynamic computer forum designed to serve as a comprehensive platform for computer enthusiasts, professionals, and novices alike. The project aims to foster a vibrant community where users can share information about computers, discuss the latest trends in technology, and even buy or sell computer parts."</p>
{% endblock %}

{% block rowTwoColTwoContent %}
<div class="container-fluid">
    {% for message in messages %}
      <div class="whitecss">
        <div class="col-3"> {{ message.name }}</div>
        <div class="col-3"> {{ message.email }}</div>
        <div class="col-3"> {{ message.message }}</div>
        <div class="col-3"> {{ message.dateSubmitted }}</div> 
      </div>
    {% endfor %}
</div>
{% endblock %}

{% block rowThreeContent %}
</p class="whitecss">Copyright 2024</p>
{% endblock %}