{% extends "base.html" %}

{% block rowOneContent %}
    <h1 class="text-primary">Welcome to the Home Page</h1>
{% endblock %}

{% block rowTwoColOneContent %}
    <h2 class="text-info">News</h2>
    <p>This just in! Mr Nadal Rahman sentenced to 24 hours of community service due to noise complaints! His comment on the matter was "My Mum diddnt buy me Vbucks!"</p>
{% endblock %}

{% block rowTwoColTwoContent %}
    <h2 class="text-info">Events</h2>
    <p>Cardboard samurai sword fight 12th of October 2024 at 4PM!</p>
{% endblock %}

{% block rowThreeContent %}
</p>Copyright 900BCE</p>
{% endblock %}