{% extends "base.html" %}

{% block rowOneContent %}
    <h1 class="whitecss">Welcome to TippyTechnologies!</h1>
{% endblock %}

{% block rowTwoColOneContent %}
    <h2 class="whitecss">About Us</h2>
    <p class="greencss">TippyTechnologies is a dynamic computer forum designed to serve as a comprehensive platform for computer enthusiasts, professionals, and novices alike. The project aims to foster a vibrant community where users can share information about computers, discuss the latest trends in technology, and even buy or sell computer parts."</p>
{% endblock %}

{% block rowTwoColTwoContent %}
    <h2 class="whitecss">Our Goals</h2>
    <p class="greencss">The primary goal of TippyTechnologies is to create a one-stop forum for all things computer-related. By facilitating the exchange of information and providing a platform for buying and selling computer parts, TippyTechnologies aims to cater to the diverse needs of its user base. Ultimately, the project seeks to cultivate a thriving community that drives the advancement of computer technology.</p>
{% endblock %}

{% block rowThreeContent %}
</p class="whitecss">Copyright 2024</p>
{% endblock %}